
<div class="jumbotron">


<h1 class="display-5"><%= @article.title %></h1>
<span class="lead">

<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Delete', @article, :method => :delete %>
</span>
<hr class="my-4">

<p><%= @article.content %></p>
<%= link_to 'Back', articles_path %>
</div>
